html {
	min-height: 100%;
}

html * {
box-sizing: border-box;	
}

body {
	background: url('../images/fond.png') repeat-x bottom center;
	background-size: 1px 100%;
	text-align: center;
	min-height: 100%;
}

.help {
    cursor: help;
}

.glyphicon {
    line-height: 1.5;
}

.flash-notice {
    background: #b7d149;
    border: 1px solid #eee;
    padding: 5px;
    font-style: italic;
    margin: 10px 0;
}

#page {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	position: relative;
	display: table;
}

.accueil #page {
	display: block;
}

#header {
	overflow: hidden;
	margin: 5px 0 25px 0;
	padding: 0 0 0 20px;
    border-bottom: 1px solid #eeeeee;
}

h1 {
	text-indent: -9999px;
	margin: 0;
	height: 0px;
}

#logo {
	display: block;
	width: 161px;
	height: 101px;
	text-decoration: none;
	border: 0;
	float: left;
}

#page h2 {
    margin: 0 0 30px 0;
}

.accueil h2 {
}

#menu {
	float: left;
	margin: 60px 0 0 0;
}

#menu li {
	color: #b7d149;
	font-size: 2.4rem;
	font-family: "Trebuchet MS",Arial, sans-serif;
	padding: 0 20px 20px 20px;
	margin: 0;
	display: inline-block;
	list-style: none;
	text-align: center;
    box-sizing: content-box;
    max-height: 36px;
}

#menu li a {
	color: #b7d149;
	text-decoration: none;
    display: inline-block;
    padding-bottom: 14px;
}

#menu li a:hover, #menu li a:active {
	text-decoration: none;
    border-bottom: 6px solid #b7d149;
}


/* Styles de l'accueil */

#pagetop {
	display: table;
	margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 14px;
}

#pagebottom {
	overflow: hidden;
}

#pagetop > div {
	display: table-cell;
}

.table {
	display: table;
	margin: 10px 0;
}

.cell {
	display: table-cell;
}


#diaporama {
	width: 626px;
	padding-right: 15px;
}

#diaporama img {
	border: 1px solid #cecece;
}

#texteAccueil {
	padding: 20px 20px;
	border: 1px solid #d4d4d4;
	vertical-align: top;
	color: #999999;
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
    background: #fff;
    width: 320px;
}

#texteAccueil p {
	line-height: 1.5;
	font-size: 1.2rem;
	text-align: justify;

}

#texteAccueil h2 {
	color: #146665;
	font-weight: bold;
	font-size: 1.7rem;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#texteAccueil a {
	display: block;
	text-align: center;
	padding: 5px 10px;
	margin: 30px auto;
	width: 80%;
	border: 3px solid #146665;
	color: #146665;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
}

#texteAccueil a:hover {
	background: #146665;
	color: #fff;
}

.accueil #actus {
	float: left;
	position: relative;
	width: 60%;
	border: 1px solid #cecece;
	padding: 30px 30px;
	background: #fff;
}

#actus h2 {
    text-align: center;
    color: #856d58;
    font-size: 2.1rem;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.liste h3 {
	font-size: 1.7rem;
	color: #977e68;
	font-weight: bold;
	margin: 0 0 10px;
	line-height: 1.2;
}

.accueil #actus p {
	color: #999999;
	font-size: 1.2rem;
	margin: 0;
}

.liste .infos {
	font-size: 1.1rem;
	color: #146665;
	padding: 3px 5px;
	margin: 10px 0;
	background: #fff;
	border: 1px solid #ccc;
	overflow: hidden;
}

.texte {
	color: #444;
	font-size: 1.4rem;
	margin: 0;
}

.accueil #actus .liste {
	margin: 0 0 20px 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}

.liste {
	margin: 20px 0;
	border-top: 1px solid #ccc;
	padding: 20px 0;
}

.liste:first-child {
	border: 0;
}

#actus .liste img {
	float: left;
	margin: 0 30px 0 0;
}

.liste:last-child {
	margin: 0 0 0 0;
}

/* Styles de page */

aside {
	float: left;
	width: 280px;
	margin: 0 0 0 10px;
	box-sizing: border-box;
	padding: 15px;
}

section.isWithAside {
	overflow: hidden;
	width: 660px;
	margin: 0 10px 0 0;
	float: left;
}

/* Connexion accueil */

#connexion {
	background: #9dcdc9;
	padding: 15px 15px;
	font-family: Arial, sans-serif;
	position: relative;
	overflow: hidden;
}

.accueil #connexion {
	float: right;
	width: 38%;
}

aside #connexion {
	margin: 20px 0;
}

aside #connexion label, aside #connexion input {
	min-width: inherit;
	display: inline;
}

#connexion h2 {
	text-align: center;
	color: #fff;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
}

#connexion a {
	color: #fff;
	text-decoration: none;
}

#connexion a:hover {
	background: #146665;
}

#connexion .deco {
	float: right;
	
}

#connexion .form_content,
#connexion .form_content > div {
    display: block;
    clear: both;
    margin-bottom: 20px;
}

#connexion .form_content label {
    color: #fff;
    font-weight: bold;
    text-align: right;
    display: block;
    font-size: 1.3rem;
}

#connexion .form_content input {
    display: block;
    float: right;
    margin-left: 15px;
}

#connexion input[type='submit']:hover {
    background: #fff;
    color: #9DCDC9;
}

#connexion input[type='submit'] {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #fff;
    padding: 5px;
}

.choix {
	margin: 15px 0;
}

/* Formulaires */

form .form_content > div {
	padding-bottom: 10px;
}

form label, form input {
	vertical-align: top;
}

form label.required:after {
	content: " *";
	color: #f00;
}

form input, form textarea {
	padding: 2px 5px;
	font-size: 1.2rem;
	font-family: Arial, sans-serif;
	min-width: 150px;
}

form input[type='checkbox'] {
    min-width: initial;
}

form *[type="submit"] {
	display: block;
    margin: 0 auto;
}

/* jCarousel */

.diaporama-wrapper {
	position: relative;
}

.diaporama {
	display: block !important;
	position: relative;
	overflow: hidden;
	width: 626px;
	height: 470px;
}

.diaporama ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.diaporama li {
	float: left;
}

.diaporama-pagination {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 10px;
}

.diaporama-pagination .page {
	display: inline-block;
	background: #fff;
	color: #fff;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	/* color: #146665; */
}

.diaporama-pagination .page.active {
	background: #146665;
	color: #146665;
	/* color: #fff; */
}

/* documents */

.liste.doc {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 10px 0 5px 0;
    border: 0;
}

.liste.doc a.img-dl {
    margin-right: 10px;
}

.liste.doc h3 {
    font-size: 1.4rem;
}

.liste.doc p {
    font-size: 1.1rem;
}

.liste.doc .infos {
    margin: 0;
}

.filter-button-group {
    padding: 5px 10px;
}

.filter-button-group p {
    margin: 0;
}

/* Tableau de bord */

.infos {
    margin: 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #eee;
}

.infos p {
    margin: 5px 0;
}

.infos h3 {

    color: #b7d149;
}

.mes_documents,
.documents {
    border: 3px solid #b7d149;
    padding: 10px;
    margin: 0 0 20px 0;
    background: #fff;
}

.mes_documents h3,
.documents h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}

.bureau_syndical {
    padding: 10px;

}



/* Footer */

#footer {
	clear: both;
	margin: 25px 0 0 0;
	padding: 25px 0 0 0;
	text-align: center;
    border-top: 1px solid #fff;
    border-top: 1px solid #fff;
	font-size: 1.1rem;
	font-style: italic;
}
