{% extends 'base.html.twig' %}


{% block section_title "Liste des actualités" %}

{% block section_content %}

<div id="actus">
	<h2>Actualités</h2>
		{% for actu in actus %}
			<div class="actu" id="actu{{ actu.id }}">
				{# ici rajouter la photo d'illustration #}

				<h3>{{ actu.titre }}</h3>
				<p>{{ actu.texte }}</p>
				<p>{{ actu.date|date("d/m/Y") }}</p>
			</div>
		{% endfor %}
</div>

{% endblock %}