{% extends 'base.html.twig' %}

{% block section_class "" %}

{% block section_title %}Hello !{% endblock %}

{% block body %}

		<div id="plus_infos">
			<h2>Bienvenu sur le site de la copropriété Coteaux de chasse !</h2>
<p>Une copropriété est une organisation d'immeuble répartie en lots. En bref elle est constituée : </p> 
<ol> 
	<li> De biens immobiliers, parties communes et de parties privatives : 
	   <ul> 
	   	 	<li> Une copropriété comprend :
	   	   		<ul> 
					<li> Des parties privatives à l'usage exclusif de chaque copropriétaire </li>
					<li> Des parties communes affectées à l'usage ou à l'utilité de tous les copropriétaires ou de plusieurs d'entre eux. 
	       		</ul>
	     	</li>
	   </ul>
	   <ul> 
	    	<li> Chaque lot de copropriété comprend 
	    		<ul>
	    			<li> Une partie privative à l'usage exclusif de chaque copropriétaire </li>
					<li> Une quote-part des parties communes réservée à tous ou, le cas échéant, à certains d'entre eux seulement.</li>
	      		</ul>
	      	</li>
	   </ul>
	   <ul> 
	   		<li> Les millièmes ou tantièmes ou quantièmes 
	   			<ul>
					<li> Chaque quote-part est mesurée en millième (tantièmes, quantièmes veulent dire la même chose). Elle est obligatoirement mentionnée sur l’acte de vente et sur le règlement de copropriété.</li> 
					<li> Le nombre de millièmes affecté à un copropriétaire n’est pas exactement proportionnel à la surface de la partie privative.</li>
					<li> Ces quotes-parts sont généralement exprimées par une fraction </li>
				</ul>
			</li>
	   </ul>
</li>

<li> De personnes, les acteurs : 
	<ul> <li> Le syndicat de copropriétaire : L’ensemble des copropriétaires forme le syndicat de la copropriété. Il se réunir en assemblée générale au moins une fois par an. A l’initiative du syndic (assemblée générale annuelle ordinaire). mais elle peut l'être autant de fois que cela est nécessaire (assemblée générale extra-ordinaire) à l’initiative du conseil syndical voire sous certaines conditions par d’un ou de plusieurs copropriétaires. Lorsque l'initiative n'émane pas du syndic, la demande doit lui être formulée par courrier recommandé avec accusé de réception ou par acte d'huissier. Le courrier doit indiquer les questions qui devront être inscrites à l'ordre du jour de l'assemblée générale demandée.</li> </ul>
	<ul> <li> Le syndic de copropriété : Chaque copropriété doit être dotée d'un syndic pour l'administrer. Le syndic est le représentant légal du syndicat des copropriétaires. Il peut être un professionnel ou un copropriétaire bénévole ou une coopérative de plusieurs copropriétaires choisis parmi les membres du conseil syndical. Le syndic de copropriété  est tenu de gérer l'administration et les finances de la copropriété. Le mandat donné au syndic professionnel prend la forme d'un contrat qui fixe les conditions d'exécution de sa mission, la rémunération (pour un professionnel uniquement) et la durée sont réglementées.</li> </ul>
	<ul> <li> Le conseil syndical : Chaque copropriété doit avoir un conseil syndical composé de copropriétaires pour assister le syndic de copropriété dans ses missions, et assurer une coordination entre le syndic et les copropriétaires. 
	 	 	<ul>
	 			<li> Son rôle est consultatif. Il assiste le syndic de copropriété dans ses prises de décisions et contrôle sa gestion en vérifiant notamment la comptabilité, et les conditions dans lesquelles sont passés et exécutés les marchés et tous les autres contrats, ainsi que l'élaboration du budget prévisionnel. Il doit rendre compte tous les ans à l'assemblée générale de l'exécution de sa mission.</li>
	 			<li> Ces membres sont élus lors de l'assemblée générale à la majorité absolue. La durée du mandat est de 3 ans renouvelable. Les membres du conseil syndical peuvent rompre leur mandat quand ils le souhaitent. L'assemblée générale peut, quant à elle, décider de révoquer un ou plusieurs membres à tout moment.</li>
         	</ul>
         </li>
    </ul>
</li>
</ol>
		</div>
		
{% endblock %}

{% block aside "" %}