{% extends 'base.html.twig' %}


{% block section_title "Bureau syndical" %}

    {% block section_content %}

        {% block aside_title "" %}
            {% block aside_content "" %}

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <h3>Composition du conseil syndical</h3>

                <ul>
                    <li><strong>Président</strong> : Alain Jacqueson</li>
                    <li><strong>Vice-président</strong> : Fouad Maarouf</li>
                    <li><strong>Secrétaire</strong> : Peggy Bouvier</li>
                    <li><strong>Membres</strong> :
                        <ul>
                            <li>Christine Alex</li>
                            <li>Philippe Leprêtre</li>
                            <li>Khalid Kali</li>
                            <li>Bertrand Cizeron</li>
                        </ul>
                    </li>
                </ul>

            {% endblock %}